name: Deployment 2
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Install Dependencies
        run: npm ci
      - name: Linting
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Install Dependencies
        run: npm ci
      - name: test
        run: npm run test
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deployment
        run: echo "Deployment completed"