name: Deploy Website
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run build
  test:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout
         uses: actions/checkout@v6.0.2
       - name: Install Dependencies
         run: npm ci
       - name: Test
         run: npm run test
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deployment
        run: echo "Deploying website..."