name: Deploy Website
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Cache Dependencies
        uses: actions/cache@v5.0.3
        with: 
          path: ~/.npm
          key: node-modules-"${{ hashFiles('**/package-lock.json') }}"
      - name: Install Dependencies
        run: npm ci
      - name: Test
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{steps.publish.outputs.script-file}}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Cache Dependencies
        uses: actions/cache@v5.0.3
        with: 
          path: ~/.npm
          key: node-modules-"${{ hashFiles('**/package-lock.json') }}"
      - name: Install Dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Publish JS filename
        id: publish
        run: find dist/assets/*.js -type f -execdir echo 'script-file={}' >> $GITHUB_OUTPUT ';'
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: my-artifact
          path: dist
          # path: |
          #   dist
          #   package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: my-artifact
      - name: Display Artifact
        run: ls
      - name: Output filename
        run: echo '${{needs.build.outputs.script-file}}'
      - name: Deployment
        run: echo "Deploying website..."
