name: Deploy Website
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Install Dependencies
        run: npm ci
      - name: Test
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
       - name: Checkout
         uses: actions/checkout@v6.0.2
       - name: Install Dependencies
         run: npm ci
       - name: Test
         run: npm run build
       - name: Upload a Build Artifact
         uses: actions/upload-artifact@v6.0.0
         with: 
          name: my-artifact
          path: |
            dist
            package.json
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deployment
        run: echo "Deploying website..."